.form {
  max-width: 511px;
  display: flex;
  gap: 8px;
}
@media (max-width: 610px) {
  .form {
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
    align-items: flex-start;
  }
}
