.purpleWhite_blob {
  width: 401px;
  height: 266px;
  transform: rotate(-135deg);
  border-radius: 401px;
  background: var(--Tertary-800);
  filter: blur(175px);
  position: absolute;
  top: 1047px;
  left: 452px;
  z-index: -1;
}
