.green_blob {
  background: var(--Success-800);
  filter: blur(175px);
  width: 488px;
  height: 345px;
  top: 1270px;
  left: 822px;
  position: absolute;
  z-index: -1;
}
@media (max-width: 1400px) {
  .green_blob {
    display: none;
  }
}
