.title {
  color: var(--Grey-50);
  font-size: var(--font-s-64);
  font-weight: var(--font-w-600);
  line-height: 80px;
  letter-spacing: -1.28px;
}
@media (max-width: 610px) {
  .title {
    font-size: 48px;
  }
}
