:root {
  --background: #121829;
  --background-input: rgba(0, 0, 0, 0.1);
  --Primary-200: #BEB7FB;
  --Primary-400: #7b6ef6;
  --Primary-800: #251e62;
  --Secondary-800: #0c4265;
  --White-100: #fff;
  --Grey-50: #ebeef5;
  --Grey-100: #C3C8D4;
  --Grey-300: #8e95a9;
  --Grey-400: #767E94;
  --Grey-200: #a8aebf;
  --Grey-700: #323b54;
  --Grey-600: #475069;
  --Black-65: rgba(0, 0, 0, 0.65);
  --Warning-500: #ffad49;
  --Tertary-800: #492c66;
  --Success-800: #02523a;

  --font-w-400: 400;
  --font-w-600: 600;

  --font-s-64: 64px;
  --font-s-20: 20px;
  --font-s-16: 16px;
  --font-s-12: 12px;

  --margin-0: 0;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: var(--font-w-400);
  margin: var(--margin-0);
  background-color: var(--background);
  background-image: url('./public/Background.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  min-width: 375px;
}

@media (max-width: 800px)  {
  body {
    background-image: none;
  }
}
h1 {
  margin: var(--margin-0);
}
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
input {
  border: none;
}
