.purple_blob {
  width: 400px;
  height: 260px;
  transform: rotate(-135deg);
  border-radius: 400px;
  background: var(--Primary-800);
  filter: blur(173px);
  display: block;
  position: absolute;
  top: 68px;
  right: 73px;
  z-index: -1;
}
