.purple_blob {
  width: 401px;
  height: 266px;
  transform: rotate(-135deg);
  border-radius: 401px;
  background: var(--Primary-800);
  filter: blur(175px);
  display: block;
  position: absolute;
  top: 68px;
  right: 73px;
  z-index: -1;
}
