.wrapper{
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-bottom: 80px;
}
.content__header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 8px;
    width: 100%;
    border-radius: 24px;
    background: rgba(32, 40, 62, 0.80);
    backdrop-filter: blur(12px);
}
.title {
    color: var(--Primary-200);
    font-size: var(--font-s-12);
    line-height: 16px;
}
.film_name {
    color: var(--Grey-50);
    font-size: 32px;
    font-weight: var(--font-w-600);
    line-height: 40px;
    letter-spacing: -0.64px;
    margin: var(--margin-0);
}
.content__main {
    display: flex;
    gap: 80px;
}
.content__main img {
    border-radius: 24px;
}
.content_rigth {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.description {
    color: var(--Grey-300);
    font-size: var(--font-s-20);
    line-height: 32px; 
}
.tag_rating {
    display: flex;
    gap: 24px;
    align-items: center;
}
.rating {
    display: flex;
    gap: 4px;
    padding: 4px 8px;
    align-items: center;
    border-radius: 8px;
    background: var(--Black-65);
    backdrop-filter: blur(4px);
}
.rating__count {
    color: var(--Warning-500);
    font-size: var(--font-s-16);
    line-height: 24px;
}
.tag_film {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.tag__title {
    color: var(--Grey-400);
    font-size: var(--font-s-16);
    line-height: 24px;
}
.tag__content {
    color: var(--Grey-100);
    font-size: var(--font-s-20);
    line-height: 32px;
}
.content__footer{
   display: flex;
   flex-direction: column;
   gap: 14px;
}
.loader {
    color: var(--Grey-100);
    font-size: var(--font-s-20);
}
.review_unFind {
    color: var(--Grey-100);
    font-size: var(--font-s-20);
}
.filmDetails_unFind {
    color: var(--Grey-100);
    font-size: var(--font-s-20);
}
.in_favorite {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  background: none;
  border: none;
  cursor: pointer;
}
.text {
  color: var(--Primary-400);
  font-size: 16px;
  font-weight: var(--font-w-600);
  line-height: 16px;
  letter-spacing: 0.32px;
  width: 100%;
}
.active{
  color: #37D8A7;
}

