.card_film {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 282px;
  border-radius: 12px;
  background: rgba(32, 40, 62, 0.8);
  backdrop-filter: blur(40px);
  padding: 8px 8px 16px 8px;
}
