.burger {
  display: none;
  width: 36px;
  height: 36px;
  background: none;
  border: none;
}
.burger__wrapper {
  width: 24px;
  height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.burger__wrapper div {
  height: 2px;
  width: 100%;
  background-color: var(--White-100);
}
@media (max-width: 1000px) {
  .burger {
    display: block;
  }
}
