.search_film {
  color: var(--Grey-200);
  font-weight: var(--font-w-600);
  display: flex;
  padding: 12px 16px;
  align-items: center;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.search_film:hover {
  color: var(--White-100);
}
.active {
   color: var(--White-100);
}
