:root {
  --background: #121829;
  --Primary-400: #7b6ef6;
  --White-100: #fff;
  --Grey-50: #ebeef5;
  --Grey-300: #8e95a9;

  --font-w-400: 400;
  --font-w-600: 600;

  --font-s-64: 64px;
  --font-s-16: 16px;

  --margin-0: 0;
}
* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: var(--font-w-400);
}
body {
  margin: var(--margin-0);
  background-color: var(--background);
}
h1 {
  margin: var(--margin-0);
}
