.my_film {
  color: var(--Grey-200);
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: var(--font-w-600);
  line-height: 24px;
  letter-spacing: 0.32px;
}
.count {
  width: 24px;
  height: 24px;
  color: var(--White-100);
  font-size: 13px;
  line-height: 24px;
  font-weight: 400; 
  letter-spacing: 0.28px;
  background-color: var(--Primary-400);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.my_film:hover {
  color: var(--White-100);
}
.active {
   color: var(--White-100);
}